@page
@model quizzApp.Pages.Questions.Create

@{
    ViewData["Title"] = "Create page";
}

<div class="container">
    <h2>Create Question</h2>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger m-4"></div>
        @* asp-validation-summary="All": This attribute specifies that the validation summary should include all validation errors, both model-level and property-level errors. 
            display unordered list (<ul>) of all validation error messages *@
        
        
        <div class="form-group">
            <label asp-for="Question.Text" class="h4">Question</label>
            <input asp-for="Question.Text" class="form-control" />
            <span asp-validation-for="Question.Text" class="text-danger"></span>
        </div>

        <fieldset>
            <h4 class="h4">Answers</h4>
            @for (int i = 0; i < 4; i++)
            {
                <div class="form-group">
                    <label asp-for="Answers[i].Text">
                        Answer @(i + 1) (@(i == 0 ? "Correct answer" : "False answer"))
                    </label>
                    <input asp-for="Answers[i].Text" class="form-control" />
                    <span asp-validation-for="Answers[i].Text" class="text-danger"></span>
                    <input asp-for="Answers[i].IsCorrect" type="hidden" value="@(i == 0 ? "true" : "false")"/>
                </div>
            }
        </fieldset>

        <div class="form-group m-4">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-page="./View" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>